[submodule "2002-08_4k-intro_xbox"]
	path = 2002-08_4k-intro_xbox
	url = git@github.com:faemiyah/faemiyah-demoscene_2002-08_4k-intro_xbox.git
[submodule "2003-08_4k-intro_ust_nap"]
	path = 2003-08_4k-intro_ust_nap
	url = git@github.com:faemiyah/faemiyah-demoscene_2003-08_4k-intro_ust_nap.git
[submodule "2004-08_4k-intro_pinp"]
	path = 2004-08_4k-intro_pinp
	url = git@github.com:faemiyah/faemiyah-demoscene_2004-08_4k-intro_pinp.git
[submodule "2005-07_32k-intro_origami"]
	path = 2005-07_32k-intro_origami
	url = git@github.com:faemiyah/faemiyah-demoscene_2005-07_32k-intro_origami.git
[submodule "2007-08_4k-intro_organica"]
	path = 2007-08_4k-intro_organica
	url = git@github.com:faemiyah/faemiyah-demoscene_2007-08_4k-intro_organica.git
[submodule "2008-08_4k-intro_stick_animation_engine_4000"]
	path = 2008-08_4k-intro_stick_animation_engine_4000
	url = git@github.com:faemiyah/faemiyah-demoscene_2008-08_4k-intro_stick_animation_engine_4000.git
[submodule "2009-08_4k-intro_swamp_fly"]
	path = 2009-08_4k-intro_swamp_fly
	url = git@github.com:faemiyah/faemiyah-demoscene_2009-08_4k-intro_swamp_fly.git
[submodule "2009-08_4k-graphics_solitary_confinement"]
	path = 2009-08_4k-graphics_solitary_confinement
	url = git@github.com:faemiyah/faemiyah-demoscene_2009-08_4k-graphics_solitary_confinement.git
[submodule "2010-08_gamedev_orbital_bombardment"]
	path = 2010-08_gamedev_orbital_bombardment
	url = git@github.com:faemiyah/faemiyah-demoscene_2010-08_gamedev_orbital_bombardment.git
[submodule "2011-08_4k-intro_dirty_garden"]
	path = 2011-08_4k-intro_dirty_garden
	url = git@github.com:faemiyah/faemiyah-demoscene_2011-08_4k-intro_dirty_garden.git
[submodule "2013-08_4k-intro_yog-sothoth"]
	path = 2013-08_4k-intro_yog-sothoth
	url = git@github.com:faemiyah/faemiyah-demoscene_2013-08_4k-intro_yog-sothoth.git
[submodule "2014-03_16k-intro_lavos"]
	path = 2014-03_16k-intro_lavos
	url = git@github.com:faemiyah/faemiyah-demoscene_2014-03_16k-intro_lavos.git
[submodule "2014-04_1k-intro_hammasvagina"]
	path = 2014-04_1k-intro_hammasvagina
	url = git@github.com:faemiyah/faemiyah-demoscene_2014-04_1k-intro_hammasvagina.git
[submodule "2015-04_64k-intro_junamatkailuintro"]
	path = 2015-04_64k-intro_junamatkailuintro
	url = git@github.com:faemiyah/faemiyah-demoscene_2015-04_64k-intro_junamatkailuintro.git
[submodule "2014-08_4k-intro_whisky_in_a_tube"]
	path = 2014-08_4k-intro_whisky_in_a_tube
	url = git@github.com:faemiyah/faemiyah-demoscene_2014-08_4k-intro_whisky_in_a_tube.git
[submodule "dnload"]
	path = dnload
	url = git@github.com:faemiyah/dnload
[submodule "2015-08_4k-intro_ghosts_of_mars"]
	path = 2015-08_4k-intro_ghosts_of_mars
	url = git@github.com:faemiyah/faemiyah-demoscene_2015-08_4k-intro_ghosts_of_mars.git
[submodule "2016-08_80k-intro_my_mistress_the_leviathan"]
	path = 2016-08_80k-intro_my_mistress_the_leviathan
	url = git@github.com:faemiyah/faemiyah-demoscene_2016-08_80k-intro_my_mistress_the_leviathan.git
[submodule "2017-08_4k-intro_primordial_soup"]
	path = 2017-08_4k-intro_primordial_soup
	url = git@github.com:faemiyah/faemiyah-demoscene_2017-08_4k-intro_primordial_soup.git
[submodule "2018-03_4k-intro_adarkar_wastes"]
	path = 2018-03_4k-intro_adarkar_wastes
	url = git@github.com:trilkk/faemiyah-demoscene_2018-03_4k-intro_adarkar_wastes.git
